.sidebar .contact-list {
  text-align: center;
}

.sidebar .contact-list a:hover,
.sidebar .contact-list a:focus {
    text-decoration: none;
}

.sidebar .contact-list .fa-inverse {
  color: #202020;
}